<!-- <launch>
  <arg
    name="model" />
  <arg
    name="gui"
    default="False" />
  <param
    name="robot_description"
    textfile="$(find hitbot_model)/urdf/hitbot_model.urdf" />
  <param
    name="use_gui"
    value="$(arg gui)" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find hitbot_model)/urdf.rviz" />
</launch> -->
<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find hitbot_model)/urdf/hitbot_model.urdf" />
  <!-- <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" /> -->
  <!-- <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" /> -->
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find hitbot_model)/urdf.rviz" />
</launch>
